{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="../Estilo.css">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/tatinspizza.com"><img src="{% static 'LogoTatin.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {%if isLogged%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tatinspizza.com/cuenta">Mi Perfil</a>
          </li>
          {% enif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tatinspizza.com/menu">Menu</a>
          </li>
          {%if isLogged%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tatinspizza.com/carrito">Carrito</a>
          </li>
          {% enif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Sesion
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%if isLogged==false%}
              <li><a class="dropdown-item" href="/tatinspizza.com/inicio_sesion">Iniciar sesion</a></li>
              <li><a class="dropdown-item" href="/tatinspizza.com/registro">Regisarse</a></li>
              {% enif %}
              {%if isLogged%}
              <li><a class="dropdown-item" href="/tatinspizza.com/cerrear_sesion">Cerrar Sesion</a></li>
              {% enif %}
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-2">
          <input class="form-control me-2 " type="search" placeholder="Busqueda" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <header class="background-page">
    <div class="background-over py-3">
      <table class="container table table-secondary table-striped">
        <h3 class="mb-5 mx-3">Clientes activos</h3>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {%for usuario in usuarios}
          <tr>
            <th scope="row">{{usuario.id_usuario}}</th>
            <td>{{usuario.name}}</td>
            <td>{{usuario.correo}}</td>
            <td>
              <a href="tatinspizza.com/editar_usuario/{{usuario.id_usuario}}" class="btn btn-success">Editar</a>
              <a href="tatinspizza.com/eliminar_usuario" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </header>
</body>
<style>
  .background-page{
    background: url(/static/fondo-pizza.jpg);
    background-size: cover;
    min-height: 652.5px;
}
.background-over{
    background: rgba(236, 240, 241,.30);
    min-height: 652.5px;
}
</style>

</html>