<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../Estilo.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../imgenes/Logo_Tatin_.png" alt="Tatin's Pizza Icon" style="width: 15%;"></a>
          <a>Bienvenido {user}</a>
        </div>
      </nav>
      <header class="background-page">
        <div class="background-over">
          
    <form class="container">
      <br><h3>Editar Usuario</h3>
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="" placeholder="luisillo el manquillo">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="" placeholder="lolito@gmail.com">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="" placeholder="1243" aria-describedby="passHelp">
          <div id="passHelp" class="form-text-black">Considere minimo 6 caracteres </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="" placeholder="1243" aria-describedby="passHelp">
            <div id="passHelp2" class="form-text-black">Repita la contraseña anterior</div>
          </div>
        
        <button type="submit" class="btn btn-danger">Guardar Cambios</button>
      </form>
      </div>
      </header>
</body>
</html>