.main-header{
    background: url(/imgenes/fondo-pizza.jpg);
    background-size: cover;
    min-height: 500px;
}
.background-overlay{
    background: rgba(236, 240, 241,.50);
    min-height: 500px;
}
.card-header{
    color: aliceblue;
}
.background-page{
    background: url(/imgenes/fondo-pizza.jpg);
    background-size: cover;
    min-height: 652.5px;
}
.background-over{
    background: rgba(236, 240, 241,.30);
    min-height: 652.5px;
}