{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
    
    <title>Tatin's Pizza</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{%static '/imgenes/Logo_Tatin_.png'%}" alt="Tatin's Pizza Icon" style="width: 15%;"></a>
          <a>Bienvenido {user}</a>
        </div>
      </nav>
<header class="main-header">
  <img src="{%static 'imgenes/Logo_Tatin_.png'%}" alt="">
        <div class="background-overlay  text-center text-black py-5">
            <div class="container">
            <div class="row">
                <div class="col-md-6 text-center justify-content-center align-self-center">
                    <h1>Prueba la especialidad de la casa</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, et.</p>
                </div>
                <div class="col-md-6">
                  <img src="{% static 'imgenes/pizza.png' %}" alt="Producto Imagen" class="img-fluid" style="width: 90%;">
                </div>
            </div>
            </div>
        </div>
        
    </header>
    <section class="bg-light py-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-9">
              <H3>Dejanos Tu Comentario</H3>
              <form action="">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <i class="input-group-text"><img src="{%static 'imgenes/user.svg'%}" style="width: 100%;"></i>
                      </div>
                      <input id="" type="text" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <i class="input-group-text"><img src="{%static 'imgenes/mail.svg'%}" style="width: 100%;"></i>
                    </div>
                    <input id="" type="text" class="form-control" placeholder="Email">
                </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <i class="input-group-text"><img src="{%static 'imgenes/message-square.svg'%}" style="width: 95%;"></i>
                    </div>
                    <textarea  id="inputComentario" type="text" class="form-control" placeholder="Comentario" minlength="1" maxlength="200"></textarea>
                </div>
                <button type="button" class="btn btn-danger" onclick="">Enviar Comentario</button>
              </form>
          </div>
        </div>
      </div>
  </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
<style>
  .main-header{
    background: url(../imgenes/fondo-pizza.jpg);
    background-size: cover;
    min-height: 500px;
  }
  .background-overlay{
      background: rgba(236, 240, 241,.50);
      min-height: 500px;
  }
  .card-header{
      color: aliceblue;
  }
  .background-page{
      background: url(../imgenes/fondo-pizza.jpg);
      background-size: cover;
      min-height: 652.5px;
  }
  .background-over{
      background: rgba(236, 240, 241,.30);
      min-height: 652.5px;
  }
</style>